@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

body {
  background-color: #f0f0f0; // Neutral light gray background
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #007bff;
  color: white;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
}

header p {
  font-size: 1.25rem;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff7f50;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.card-img-top {
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #ff7f50;
  border-color: #ff7f50;
}